body {
	padding: 5px;
}
.main {
	position: absolute;
	width: 800px;
	left: 50%;
	margin-left: -400px;
	border-radius: 8px;
	border: 1px solid #C0C0C0;
	padding: 5px;
}
.title,
.content,
.floor,
.site,
.leftPosition,
.leftPosition span,
.buttons, .button {
	position: relative;
	display: inline-block;
}
.title, .content, .floor, .site {
	width: 100%;
	border-radius: 8px;
	background-color: #F8F8F8;
}
.title {
	text-align: center;
	height: 10%;
	/*border: 1px solid #C0C0C0;*/
	/*box-sizing: border-box;*/
}
.content {
	height: 80%;
	margin-top: 5px;
	border: 1px solid #C0C0C0;
	
}
.floor {
	margin-top: 5px;
	height: 10%;
	text-align: right;
}
.floor p {
	padding: 5px;
}
#sites {
	max-height: 600px;
	display: block;
	border-radius: 8px;
	height: 100%;
	padding: 5px;
	overflow: hidden;
}
.site {
	background-color: #E8E8E8;
	height: 50px;
	margin-bottom: 5px;
	box-sizing: border-box;
	border: 1px solid #F0F0F0;
}
.site:hover {
	transition: background-color 500ms;
	background-color: #E0E0E0;
}
.leftPosition {
	vertical-align: middle;
	width: 60%;
	height: 100%
}
.leftPosition span {
	left: 15px;
	top: 0px;
	margin-top: -6px;
}
.rightPosition {
	display: inline-block;
	width: 40%;
	height: 100%;
}
.buttons {
	text-align: center;
	width: 60%;
	height: 40px;
	margin-bottom: 5px;
}
.button {
	cursor: pointer;
	width: 130px;
	height: 30px;
	box-sizing: border-box;
	border: 1px solid #C0C0C0;
	border-radius: 8px;
	background-color: #D8D8D8;
}
.button:focus {
	outline: none;
}
.button:hover {
	border: 1px solid #FF9900;
}
.buttons .button:hover {
	transition: background-color 300ms;
	background-color: #C8C8C8; 
}

.button.site-button {
	top: 9px;
	position: absolute;
	right: 5px;
}
.button.site-button.Enable {
	background-color: #B8FABA;
}
.button.site-button.Enable:hover {
	background-color: #62FA67;
}
.button.site-button.Disable {
	background-color: #FBA6A6;
}
.button.site-button.Disable:hover {
	background-color: #FD7171;
}
.button.cansel {
	margin-left: 36px;
}
.enableDisable {
	text-align: right;
	display: inline-block;
	position: absolute;
	padding-right: 5px;
	margin-bottom: 5px;
	border: 1px solid #C0C0C0;
	border-radius: 8px;
	margin-right: 5px;
	width: 40%;
	height: 40px;
	right: 0px;
}
.enableDisable:hover {
	background-color: #E8E8E8;
}

.button.enableAll {
	margin-right: 5px;
	background-color: #B8FABA;
}
.button.enableAll:hover {
	background-color: #62FA67;
}
.button.disableAll {
	background-color: #FBA6A6;
}
.button.disableAll:hover {
	background-color: #FD7171;
}
.button.cansel,
.button.save,
.button.disableAll,
.button.enableAll {
	top: 5px;
}
.button.disableAll, .button.enableAll {
	text-align: right;
	width: 60px;
}
.enableDisable span {
	position: relative;
	left: 0px;
	margin-right: 130px;
	top: 5px;
}

